@(error : String)
@main("Welcome to the project")("index"){
    
    @if(error.compareTo("") != 0)	{
			<div class="alert alert-error">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <h4>Error!</h4>
			  @error
			</div>
		}
    
   <div class="jumbotron">
        <h2>LeProject : Change the world thanks to the open source!</h2>
        <p class="lead"></p>
        <a class="btn btn-large btn-success" href="/signup">Join the community</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <!--<div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>-->
      </div>

      <hr>
    
}
