@(me : UserModel)
@main("Welcome to the project") {
<div class="row-fluid marketing">
	<div class="span12">
		<div class="row">
			<h1>Creating a new project</h1>
		</div>
		<div class="row">
			<div span="12">
			<dl class="form owner">
        		<dt>Owner</dt>
        		<dd>@me.getUsername()</dd>
      		</dl>
      		<dl class="form separator">
      			<dt>/</dt>
        		<dd>/</dd>
      		</dl>
      		<dl class="form project-name">
        		<dt>Project name</dt>
        		<dd><input type="text" id="projectName" /></dd>
      		</dl>
      		</div>
		</div>
		<hr/>
		<div class="row">
			<div class="span12">
			<label class="control-label" for="inputGithub">github repository : </label>
			<input class="input-block-level" id="inputGithub" type="text" placeholder="" />
			<label class="control-label" for="branch">branch to track : </label>
			<input type="text" value="master" id="branch" />
			<button class="btn btn-success btn-large">create project</button>
			</div>
		</div>
	</div>
</div>
}
