@(project : ProjectModel, me : UserModel)
@main(project.getName())("oneproject"){
<div class="row-fluid marketing">
	<div class="span8">
		<h3>@project.getName()</h3>
		<h4>created at @{new java.text.SimpleDateFormat("EEEE, d MMM yyyy HH:mm:ss").format(project.getDate)}</h4>
		@Html(project.getDescription().replace(java.lang.System.getProperty("line.separator"), "<br/>"))
	</div>
	<div class="span3">
		Project created by : <b>@project.getOwner().getUsername()</b><br/>
		average mark : <span id="averageNote">@project.averageNote()</span><br/>
		<ul class="notes-echelle">
		@for(i <- 1 to MarkModel.baseMark)	{
			<li>
				<label class="starsclickable" for="note@i" title="Note&nbsp;: @i sur @MarkModel.baseMark">@i</label>
				<input type="radio" name="notesA" id="note@i" value="@i" />
			</li>
		}
		</ul><br/>
		<input type="hidden" id="id" value="@project.id()" />
		<button class="btn @if(me != null && project.isContributor(me)){btn-success}else{btn-primary}" id="contribut" type="button" onclick="@if(me != null && project.isContributor(me)){unsubscribe()}else{contribute()}">@if(me != null && project.isContributor(me)){unsubscribe}else{Contribute}</button><br/>
		<button class="btn @if(me != null && project.isFollowers(me)){btn-success}else{btn-primary}" id="follow" type="button" onclick="@if(me != null && project.isFollowers(me)){unfollow()}else{follow()}">@if(me != null && project.isFollowers(me)){unfollow}else{follow}</button>
	</div>
</div>
<hr/>
<div class="row-fluid marketing">
	<div class="span6">
	<h4>Commit</h4>
	
	@for(commit <- project.getCommits())	{
		<div class="row">
			<div class="span8">
				<img src="@commit.getGravatarUrl()" />
				<a href="@commit.getInitiatorUri()">@commit.getInitiatorUsername()</a>
			</div>
			<div class="span12">
				@commit.getCommitMessage()
			</div>
		</div>
	}
	</div>
	
	<div class="span6">
	<h4>Features</h4>
	
	<p> Soon you will get here all features proposed by the community ! </p>
	</div>
</div>
}