@(project : ProjectModel, flux : String)
@main(project.getName())("oneproject"){
<div class="row-fluid marketing">
	<div class="span8">
		<h3>@project.getName()</h3>
		<h4>created at @{new java.text.SimpleDateFormat("EEEE, d MMM yyyy HH:mm:ss").format(project.getDate)}</h4>
		@Html(project.getDescription().replace(java.lang.System.getProperty("line.separator"), "<br/>"))
	</div>
	<div class="span3">
		Project created by : <b>@project.getOwner().getUsername()</b><br/>
		average mark : @project.averageNote()
	</div>
</div>
<hr/>
<div class="row-fluid marketing">
	<h4>Commit</h4>
	</div class="span12">
	@for(commit <- project.getCommits())	{
		<div class="row">
			<div class="span8">
				<img src="@commit.getGravatarUrl()" />
				<a href="@commit.getInitiatorUri()">@commit.getInitiatorUsername()</a>
			</div>
			<div class="span12">
				@commit.getCommitMessage()
			</div>
		</div>
	}
	<div>
</div>
}